html {
    position: relative;
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
}
.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}
.content{
    margin-bottom:100px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}
.profile-image {
    width: 50px; /* 가로 크기 */
    /*height: 100px; !* 세로 크기 *!*/
    border-radius: 50%; /* 원형 모양 */
    object-fit: cover; /* 이미지 잘림 없이 중앙 맞춤 */
    border: 2px solid #fff; /* 흰색 테두리 */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); /* 그림자 효과 */
}